#searchInput {
	width: 25%;
	margin-bottom: 10px;
}
#mainTitle {
	margin-bottom: 20px;
	margin-top: 20px;
}
.header-inline {
	padding-right: 10px;
}
.copiable {
	cursor: pointer;
}
.work-table {
	text-align: center;
}
.badge.badge-max {
   background-color: blue;
} 
.badge.badge-evan {
   background-color: purple;
} 
.badge.badge-chloe {
   background-color: #ffdfed;
} 
.badge.badge-brennan {
   background-color: #aefad8;
} 
.badge.badge-todd {
   background-color: #dd0000;
} 
.workButton {
   width: 100%;
} 
.backButton 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.backButton {
  z-index: 10;
}
.floatTopLeft {
	
}