#searchInput {
	width: 25%;
	margin-bottom: 10px;
}
#mainTitle {
	margin-bottom: 20px;
	margin-top: 20px;
}
.header-inline {
	padding-right: 10px;
}
.copiable {
	cursor: pointer;
}
.work-table {
	text-align: center;
}
.badge.badge-blue {
   background-color: blue;
} 
.badge.badge-purple {
   background-color: purple;
} 