#searchInput {
	width: 25%;
	margin-bottom: 10px;
}
#mainTitle {
	margin-bottom: 20px;
	margin-top: 20px;
}
.header-inline {
	padding-right: 10px;
}
.copiable {
	cursor: pointer;
}
.work-table {
	text-align: center;
}
.badge-max {
   background-color: 00eaff;
} 
.badge-evan {
   background-color: purple;
} 
.badge-chloe {
   background-color: #ffdfed;
} 
.badge-brennan {
   background-color: #aefad8;
} 
.badge-todd {
   background-color: #dd0000;
} 
.badge-cory {
   background-color: #eb8034;
} 
.badge-dave {
   background-color: #FF00FF;
} 
.badge-mike {
   background-color: #000000;
} 
.badge-not-selected {
	background-color: transparent;
	border: 1px solid transparent;
}
.badge-max-ns {
   border-color: blue;
} 
.badge-evan-ns {
   border-color: purple;
} 
.badge-chloe-ns {
   border-color: #ffdfed;
} 
.badge-brennan-ns {
   border-color: #aefad8;
} 
.badge-todd-ns {
   border-color: #dd0000;
} 
.badge-todd-ns {
   border-color: #dd0000;
} 
.badge-dave-ns {
   border-color: #FF00FF;
} 
.badge-mike-ns {
   border-color: #000000;
} 
.badge-spaced {
	margin-top:2px;
	cursor: pointer;
} 
.badge {
	margin-top:2px;
	cursor: pointer;
} 
.workerSelect {
   padding-bottom: 8px;
} 
.workButton {
   width: 100%;
} 
.loanerButton {
	padding-top: 2px;
	padding-bottom: 2px;
} 
.secondRowAddWork {
	width: 625px;
	margin-right: 10px;
	margin-top: 10px;
} 
.backButton 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.insideSaveAs 
{
  width: 100px;
  height: 100px;
}
.backButton {
  z-index: 10;
}
.workSelector {
	width: 250px;
}
.saveWorkCol {
	padding-left: 0px;
}